{% extends 'base.html.twig' %}

{% block title %}Demande d'emprunt envoyée !{% endblock %}

{% block body %}


<div class="container">
    <h1>Votre demande d'emprunt a été envoyée✅</h1>
    <div class="action">
        <button class="btn-Ajouter" onclick="location.href='/'">Retour à la page d'accueil</button>
    </div>
</div>


{% endblock %}
