{% extends 'base.html.twig' %}

{% block title %}Demande d'emprunt envoyée !{% endblock %}

{% block body %}


<div >
    <h1>Votre demande d'emprunt a été envoyée✅</h1>
</div>
<div class="action">
    <button class="btn-Ajouter" onclick="location.href='/'">Retour à la page d'accueil</button>
</div>

{% endblock %}
