{# Item list fragment #}

<div>
{% for item in items_list %}
    <div>
        <p><a href="/item/{{ item.id }}">{{ item.name }}</a> ({{ item.category.name }}, {{ item.state.value }})</p>
    </div>
{% endfor %}
</div>
