{% extends 'base.html.twig' %}

{% block title %}Ajout d'élément{% endblock %}

{% block body %}

<h1>Ajout d'élément</h1>
<div class="container-items">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit">
    {{ form_end(form) }}
</div>

{% endblock %}
