{% extends 'base.html.twig' %}

{% block title %}Articles disponibles{% endblock %}

{% block body %}

<h1>Articles disponibles</h1>
<div class="container-items">
    {% if available_items is defined %}
        {% if available_items|length == 0 %}
        <p>Aucun item n'est disponible pour le moment.</p>
        {% endif %}
    {{ include('item/_item_list.html.twig', {items_list: available_items}) }}
    {% endif %}
</div>

{% endblock %}
