{% extends 'base.html.twig' %}

{% block title %}Objets{% endblock %}

{% block body %}

<h1>Objets</h1>
<div class="container">
    {{ include('item/_item_list.html.twig', {items_list: items}) }}
</div>
{% endblock %}
