{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}

<h1>Résultats de recherche</h1>
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Rechercher">
    {{ form_end(form) }}

    {% if results is defined %}
        {% if results|length == 0 %}
        <p>Aucun résultat pour le terme cherché.</p>
        {% endif %}
    {{ include('item/_item_list.html.twig', {items_list: results}) }}
    {% endif %}

</div>
{% endblock %}
