{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}

{% if keyword is defined %}
<h1>Résultats de recherche pour <strong>{{ keyword }}</strong></h1>
{% else %}
<h1>Résultats de recherche</h1>
{% endif %}

<div class="container">

    {% if results is defined %}
        {% if results|length == 0 %}
        <p>Aucun résultat pour le terme cherché.</p>
        {% endif %}
    {{ include('item/_item_list.html.twig', {items_list: results}) }}
    {% endif %}

</div>
{% endblock %}
