{% extends './base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="container-switch">
    <span class="switch">
        <input type="checkbox" id="switcher" name="disponible&Reserve" checked>
        <label for="switcher"></label>
    </span>
</div>
<div id="disponible" class="container-items">
    <div class="case">
        <div class="item">
            <div class="item-image">
                <img src="https://picsum.photos/200/300" alt="image">
            </div>
            <div class="item-description">
                <h2>Titre</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="action">
            <div href="#" class="btn-Emprunter">Emprunter</div>
            <div href="#" class="btn-Reserver">Réserver</div>
        </div>
    </div>

    <div class="case">
        <div class="item">
            <div class="item-image">
                <img src="https://picsum.photos/200/300" alt="image">
            </div>
            <div class="item-description">
                <h2>Titre</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="action">
            <div href="#" class="btn-Emprunter">Emprunter</div>
            <div href="#" class="btn-Reserver">Réserver</div>
        </div>
    </div>

    <div class="case">
        <div class="item">
            <div class="item-image">
                <img src="https://picsum.photos/200/300" alt="image">
            </div>
            <div class="item-description">
                <h2>Titre</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="action">
            <div href="#" class="btn-Emprunter">Emprunter</div>
            <div href="#" class="btn-Reserver">Réserver</div>
        </div>
    </div>
</div>

<div id="reserve" class="container-items" style="display: none;">

    <div class="case">
        <div class="item">
            <div class="item-image">
                <img src="https://picsum.photos/200/200" alt="image">
            </div>
            <div class="item-description">
                <h2>Titre</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="action">
            <div href="#" class="btn-Reserver">Réserver</div>
        </div>
    </div>

</div>

{% endblock %}
