{% extends 'base.html.twig' %}

{% block title %}Importer items{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h1>Importer des données via Excel</h1>
        <div>
        <div>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>



    </div>

{% endblock %}