* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
}

/* Navbar */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #ffffff;
    background: linear-gradient(90deg, rgb(20, 70, 70) 0%, rgb(40, 134, 134) 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.left-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.nom {
    font-weight: bold;
}

.right-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.searchbar input[type="text"] {
    border: none;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    outline: none; /* Supprimer la bordure de focus */
}

.icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.login-btn, .cart-button, .search-button {
    padding: 8px 16px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

.login-btn:hover, .cart-button:hover, .search-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.login-btn:focus, .cart-button:focus, .search-button:focus {
    outline: none; /* Supprimer l'effet de focus */
}

.login-btn img, .cart-button img, .search-button img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.cart-button:after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    background: red;
    color: white;
}

.cart-button[data-count='0']:after {
    display: none;
}

.cart-button:before {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -6px;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    transform: translate(50%, -50%);
    display: none;
}

.cart-button[data-count='0']:before {
    display: none;
}

.navbar > .right-section > *:not(:last-child) {
    margin-right: 10px;
}


/* other */
.container {
    margin: 20px auto; 
    max-width: 1040px; 
    background-color: #fafafa; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25); 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.container-items {
    margin: 0 auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}