/**
* Contenus
*/
.switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
  }
  
  .switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #44236e;
    outline: none;
  }
  
  .switch input::before,
  .switch input::after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder;
  }
  
  .switch input::before {
    content: 'Disponible';
    left: 25px;
    color: #e40310;
  }
  
  .switch input::after {
    content: 'Réservé';
    right: 30px;
    color: #ffffff;
  }
  
  .switch input:checked {
    background: #e40310;
  }
  
  .switch label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
  }
  
  .switch input {
    transition: 0.25s;
  }
  
  .switch input:checked::after,
  .switch input:checked::before {
    color: #ffffff;
    transition: color 0.5s;
  }
  
  .switch input:checked + label {
    left: 15px;
    right: 100px;
    background: #44236e;
    transition: left 0.5s, right 0.4s 0.2s;
  }
  
  .switch input:not(:checked) {
    background: #44236e;
    transition: background 0.4s;
  }
  
  /* Couleur des labels en position "Réservé" */
  .switch input:not(:checked)::before {
    color: #ffffff;
    transition: color 0.5s;
  }
  
  .switch input:not(:checked)::after {
    color: #44236e;
    transition: color 0.5s 0.2s;
  }
  
  .switch input:not(:checked) + label {
    left: 105px;
    right: 15px;
    background: #e40310;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
  }
  